<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="DataStax C++ Driver for Apache Cassandra Documentation">
    <meta name="author" content="DataStax">

    <title>DataStax C/C++ Driver - Home</title>

    <link rel="icon" href="../favicon.ico">
    <link rel="apple-touch-icon" href="../favicon.png">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/pygments.css" rel="stylesheet">
    <link href="../css/hotkeys.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="docs">
    <div class="navbar">
      <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left">
          <div class="col-sm-3 text-center">
            <a class="ds-home" href="./"><img alt="Brand" src="../img/logo.png"></a>
            <ul class="list-inline ds-sites" role="nav">
              <li><a href="https://academy.datastax.com/" class="navbar-link">DataStax Academy</a></li>
              <li><a href="http://www.datastax.com/dev/blog" class="navbar-link">Tech Blog</a></li>
              <li><a href="http://www.datastax.com/what-we-offer/products-services/support" class="navbar-link">Support</a></li>
            </ul>
          </div>
          <div class="col-md-5">
            <p class="lead pubtitle">DataStax C/C++ Driver</p>
            
            <div class="text-info">
              <span class="text-warning">Attention:</span> Viewing documentation for version
              <div class="btn-group">
                <button id="current-version" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  2.0
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="current-version">
                
                  <li><a href="../">2.8</a></li>
                
                  <li><a href="../2.7/">2.7</a></li>
                
                  <li><a href="../2.6/">2.6</a></li>
                
                  <li><a href="../2.5/">2.5</a></li>
                
                  <li><a href="../2.4/">2.4</a></li>
                
                  <li><a href="../2.3/">2.3</a></li>
                
                  <li><a href="../2.2/">2.2</a></li>
                
                  <li><a href="../2.1/">2.1</a></li>
                
                  <li class="disabled"><a href="./">2.0</a></li>
                
                  <li><a href="../1.0/">1.0</a></li>
                
                </ul>
              </div>
            </div>
            
          </div>
          <div class="col-md-4">
            <form id="search" class="form-search dropdown visible-lg-inline-block" ng-controller="search" ng-class="{open: hasResults}" role="search" ng-submit="submit()" data-spy="affix" data-offset-top="130">
              <div class="form-group has-feedback">
                <input type="search" class="form-control input-sm mousetrap" placeholder="Search..." ng-model="q" ng-change="search('2.0')" ng-disabled="!searchReady" disabled data-hotkey="{down: moveDown, up: moveUp, esc: reset}" data-search>
              </div>
              <ul class="dropdown-menu search-results" role="menu">
                <li ng-repeat="result in results" ng-class="{'bg-warning': $index == current}"><a ng-href="{{basePath}}{{result.path}}"><span ng-bind-html="summary(result)"></span></a></li>
              </ul>
            </form>
            <a href="http://www.datastax.com/download" class="btn btn-primary btn-sm">Download</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="content">
      <div class="row">
        <div class="col-md-3">
          <div id="navigation" class="side-nav" role="tablist" aria-multiselectable="true">
            <h3><a href="./">Contents</a></h3>
            <ul class="nav nav-pills nav-stacked">
  
  
  <li>
    <a href="changelog/">
      Changelog <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="topics/">
      Getting Started <small>page</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
  
  <li>
    <a href="api/">
      API docs <small>index</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
</ul>

          </div>
        </div>
        <div class="col-md-9 content">
          <div class="crumbs-wrapper">
            <nav id="crumbs" data-spy="affix" data-offset-top="130">
              <ol class="breadcrumb">
                
                
                
                <li class="active">Home</li>
                
                
                
              </ol>
            </nav>
          </div>
          

<h1 id="data-stax-c-c-driver-for-apache-cassandra" class="target">DataStax C/C++ Driver for Apache Cassandra<a class="anchor" href="#data-stax-c-c-driver-for-apache-cassandra" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h1>

<p><a href="https://travis-ci.org/datastax/cpp-driver"><img src="https://travis-ci.org/datastax/cpp-driver.svg?branch=master" alt="Build Status"></a></p>

<p>A modern, <a href="#features">feature-rich</a>, and highly tunable C/C++ client library for
Apache Cassandra (1.2+) and DataStax Enterprise (3.1+) using exclusively
Cassandra’s native protocol and Cassandra Query Language v3.</p>

<ul>
<li>Code: <a href="https://github.com/datastax/cpp-driver">https://github.com/datastax/cpp-driver</a>
</li>
<li>Docs: <a href="http://datastax.github.io/cpp-driver">http://datastax.github.io/cpp-driver</a>
</li>
<li>JIRA: <a href="https://datastax-oss.atlassian.net/browse/CPP">https://datastax-oss.atlassian.net/browse/CPP</a>
</li>
<li>Mailing List: <a href="https://groups.google.com/a/lists.datastax.com/forum/#!forum/cpp-driver-user">https://groups.google.com/a/lists.datastax.com/forum/#!forum/cpp-driver-user</a>
</li>
<li>IRC: <a href="http://webchat.freenode.net/?channels=datastax-drivers">#datastax-drivers on <code>irc.freenode.net &lt;http://freenode.net&gt;</code></a>
</li>
</ul>

<h2 id="what-s-new-in-2-0" class="target">What’s New in 2.0<a class="anchor" href="#what-s-new-in-2-0" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<ul>
<li><a href="topics/configuration/#latency-aware-routing">Latency-aware routing</a></li>
<li><a href="topics/metrics/">Performance metrics</a></li>
</ul>

<p>More information about all the changes found in the 2.0 release can be found in
this <a href="http://www.datastax.com/dev/blog/datastax-c-driver-2-0-released">blog post</a> and in the <a href="https://github.com/datastax/cpp-driver/blob/2.1.0/CHANGELOG.md">changelog</a>.</p>

<h2 id="upgrading-from-1-0-to-2-0" class="target">Upgrading from 1.0 to 2.0<a class="anchor" href="#upgrading-from-1-0-to-2-0" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>There were a couple breaking API changes between 1.0 and 2.0 that are
documented <a href="http://www.datastax.com/dev/blog/datastax-c-driver-2-0-released">here</a>.</p>

<h2 id="features" class="target">Features<a class="anchor" href="#features" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<ul>
<li><a href="topics/#futures">Asynchronous API</a></li>
<li>
<a href="topics/#executing-queries">Simple</a>, <a href="topics/basics/prepared_statements/">Prepared</a>, and <a href="topics/basics/batches/">Batch</a> statements</li>
<li>
<a href="topics/#asynchronous-i-o">Asynchronous I/O</a>, <a href="topics/#thread-safety">parallel execution</a>, and request pipelining</li>
<li>Connection pooling</li>
<li>Automatic node discovery</li>
<li>Automatic reconnection</li>
<li>Configurable <a href="topics/configuration/#load-balancing">load balancing</a>
</li>
<li>Works with any cluster size</li>
<li>Compatibility with binary protocol version 1 and 2</li>
<li><a href="topics/security/#authentication">Authentication</a></li>
<li><a href="topics/security/ssl/">SSL</a></li>
</ul>

<h2 id="examples" class="target">Examples<a class="anchor" href="#examples" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>There are several examples provided here: <a href="https://github.com/datastax/cpp-driver/tree/1.0/examples">examples</a>.</p>

<h2 id="a-simple-example" class="target">A Simple Example<a class="anchor" href="#a-simple-example" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>
<pre class="highlight"><code><span class="cp">#include &lt;cassandra.h&gt;
#include &lt;stdio.h&gt;
</span>
<span class="kt">int</span> <span class="nf">main</span><span class="p">()</span> <span class="p">{</span>
  <span class="cm">/* Setup and connect to cluster */</span>
  <span class="nc">CassFuture</span><span class="o">*</span> <span class="n">connect_future</span> <span class="o">=</span> <span class="nx">NULL</span><span class="p">;</span>
  <span class="nc">CassCluster</span><span class="o">*</span> <span class="n">cluster</span> <span class="o">=</span> <span class="nb">cass_cluster_new</span><span class="p">();</span>
  <span class="nc">CassSession</span><span class="o">*</span> <span class="n">session</span> <span class="o">=</span> <span class="nb">cass_session_new</span><span class="p">();</span>

  <span class="cm">/* Add contact points */</span>
  <span class="nb">cass_cluster_set_contact_points</span><span class="p">(</span><span class="n">cluster</span><span class="p">,</span> <span class="s">"127.0.0.1,127.0.0.2,127.0.0.3"</span><span class="p">);</span>

  <span class="cm">/* Provide the cluster object as configuration to connect the session */</span>
  <span class="n">connect_future</span> <span class="o">=</span> <span class="nb">cass_session_connect</span><span class="p">(</span><span class="n">session</span><span class="p">,</span> <span class="n">cluster</span><span class="p">);</span>

  <span class="k">if</span> <span class="p">(</span><span class="nb">cass_future_error_code</span><span class="p">(</span><span class="n">connect_future</span><span class="p">)</span> <span class="o">==</span> <span class="n">CASS_OK</span><span class="p">)</span> <span class="p">{</span>
    <span class="nc">CassFuture</span><span class="o">*</span> <span class="n">close_future</span> <span class="o">=</span> <span class="nx">NULL</span><span class="p">;</span>

    <span class="cm">/* Build statement and execute query */</span>
    <span class="nc">CassStatement</span><span class="o">*</span> <span class="n">statement</span>
      <span class="o">=</span> <span class="nb">cass_statement_new</span><span class="p">(</span><span class="s">"SELECT keyspace_name "</span>
                           <span class="s">"FROM system.schema_keyspaces"</span><span class="p">,</span> <span class="mi">0</span><span class="p">);</span>

    <span class="nc">CassFuture</span><span class="o">*</span> <span class="n">result_future</span> <span class="o">=</span> <span class="nb">cass_session_execute</span><span class="p">(</span><span class="n">session</span><span class="p">,</span> <span class="n">statement</span><span class="p">);</span>

    <span class="k">if</span><span class="p">(</span><span class="nb">cass_future_error_code</span><span class="p">(</span><span class="n">result_future</span><span class="p">)</span> <span class="o">==</span> <span class="n">CASS_OK</span><span class="p">)</span> <span class="p">{</span>
      <span class="cm">/* Retrieve result set and iterate over the rows */</span>
      <span class="k">const</span> <span class="nc">CassResult</span><span class="o">*</span> <span class="n">result</span> <span class="o">=</span> <span class="nb">cass_future_get_result</span><span class="p">(</span><span class="n">result_future</span><span class="p">);</span>
      <span class="nc">CassIterator</span><span class="o">*</span> <span class="n">rows</span> <span class="o">=</span> <span class="nb">cass_iterator_from_result</span><span class="p">(</span><span class="n">result</span><span class="p">);</span>

      <span class="k">while</span><span class="p">(</span><span class="nb">cass_iterator_next</span><span class="p">(</span><span class="n">rows</span><span class="p">))</span> <span class="p">{</span>
        <span class="k">const</span> <span class="nc">CassRow</span><span class="o">*</span> <span class="n">row</span> <span class="o">=</span> <span class="nb">cass_iterator_get_row</span><span class="p">(</span><span class="n">rows</span><span class="p">);</span>
        <span class="k">const</span> <span class="nc">CassValue</span><span class="o">*</span> <span class="n">value</span> <span class="o">=</span> <span class="nb">cass_row_get_column_by_name</span><span class="p">(</span><span class="n">row</span><span class="p">,</span> <span class="s">"keyspace_name"</span><span class="p">);</span>

        <span class="k">const</span> <span class="kt">char</span><span class="o">*</span> <span class="n">keyspace</span><span class="p">;</span>
        <span class="kt">size_t</span> <span class="n">keyspace_length</span><span class="p">;</span>
        <span class="nb">cass_value_get_string</span><span class="p">(</span><span class="n">value</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">keyspace</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">keyspace_length</span><span class="p">);</span>
        <span class="n">printf</span><span class="p">(</span><span class="s">"keyspace_name: '%.*s'</span><span class="se">\n</span><span class="s">"</span><span class="p">,</span>
               <span class="p">(</span><span class="kt">int</span><span class="p">)</span><span class="n">keyspace_length</span><span class="p">,</span> <span class="n">keyspace</span><span class="p">);</span>
      <span class="p">}</span>

      <span class="nb">cass_result_free</span><span class="p">(</span><span class="n">result</span><span class="p">);</span>
      <span class="nb">cass_iterator_free</span><span class="p">(</span><span class="n">rows</span><span class="p">);</span>
    <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
      <span class="cm">/* Handle error */</span>
      <span class="k">const</span> <span class="kt">char</span><span class="o">*</span> <span class="n">message</span><span class="p">;</span>
      <span class="kt">size_t</span> <span class="n">message_length</span><span class="p">;</span>
      <span class="nb">cass_future_error_message</span><span class="p">(</span><span class="n">result_future</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">message</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">message_length</span><span class="p">);</span>
      <span class="n">fprintf</span><span class="p">(</span><span class="n">stderr</span><span class="p">,</span> <span class="s">"Unable to run query: '%.*s'</span><span class="se">\n</span><span class="s">"</span><span class="p">,</span>
              <span class="p">(</span><span class="kt">int</span><span class="p">)</span><span class="n">message_length</span><span class="p">,</span> <span class="n">message</span><span class="p">);</span>
    <span class="p">}</span>

    <span class="nb">cass_statement_free</span><span class="p">(</span><span class="n">statement</span><span class="p">);</span>
    <span class="nb">cass_future_free</span><span class="p">(</span><span class="n">result_future</span><span class="p">);</span>

    <span class="cm">/* Close the session */</span>
    <span class="n">close_future</span> <span class="o">=</span> <span class="nb">cass_session_close</span><span class="p">(</span><span class="n">session</span><span class="p">);</span>
    <span class="nb">cass_future_wait</span><span class="p">(</span><span class="n">close_future</span><span class="p">);</span>
    <span class="nb">cass_future_free</span><span class="p">(</span><span class="n">close_future</span><span class="p">);</span>
  <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
    <span class="cm">/* Handle error */</span>
    <span class="k">const</span> <span class="kt">char</span><span class="o">*</span> <span class="n">message</span><span class="p">;</span>
    <span class="kt">size_t</span> <span class="n">message_length</span><span class="p">;</span>
    <span class="nb">cass_future_error_message</span><span class="p">(</span><span class="n">connect_future</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">message</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">message_length</span><span class="p">);</span>
    <span class="n">fprintf</span><span class="p">(</span><span class="n">stderr</span><span class="p">,</span> <span class="s">"Unable to connect: '%.*s'</span><span class="se">\n</span><span class="s">"</span><span class="p">,</span>
            <span class="p">(</span><span class="kt">int</span><span class="p">)</span><span class="n">message_length</span><span class="p">,</span> <span class="n">message</span><span class="p">);</span>
  <span class="p">}</span>

  <span class="nb">cass_future_free</span><span class="p">(</span><span class="n">connect_future</span><span class="p">);</span>
  <span class="nb">cass_cluster_free</span><span class="p">(</span><span class="n">cluster</span><span class="p">);</span>
  <span class="nb">cass_session_free</span><span class="p">(</span><span class="n">session</span><span class="p">);</span>

  <span class="k">return</span> <span class="mi">0</span><span class="p">;</span>
<span class="p">}</span>
</code></pre>
<h2 id="license" class="target">License<a class="anchor" href="#license" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>Copyright © 2014-2015 DataStax</p>

<p>Licensed under the Apache License, Version 2.0 (the “License”);
you may not use this file except in compliance with the License.
You may obtain a copy of the License at</p>

<p><a href="http://www.apache.org/licenses/LICENSE-2.0">http://www.apache.org/licenses/LICENSE-2.0</a></p>

<p>Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an “AS IS” BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.</p>


        </div>
      </div>
    </div>

    

    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/angular.js"></script>
    <script src="../js/mousetrap.js"></script>
    <script src="../js/hotkeys.js"></script>
    <script src="../js/ZeroClipboard.js"></script>
    <script src="../js/lunr.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
