<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="DataStax C++ Driver for Apache Cassandra Documentation">
    <meta name="author" content="DataStax">

    <title>DataStax C/C++ Driver - UUIDs</title>

    <link rel="icon" href="../../../../favicon.ico">
    <link rel="apple-touch-icon" href="../../../../favicon.png">
    <link href="../../../../css/style.css" rel="stylesheet">
    <link href="../../../../css/pygments.css" rel="stylesheet">
    <link href="../../../../css/hotkeys.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="docs">
    <div class="navbar">
      <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left">
          <div class="col-sm-3 text-center">
            <a class="ds-home" href="../../../"><img alt="Brand" src="../../../../img/logo.png"></a>
            <ul class="list-inline ds-sites" role="nav">
              <li><a href="https://academy.datastax.com/" class="navbar-link">DataStax Academy</a></li>
              <li><a href="http://www.datastax.com/dev/blog" class="navbar-link">Tech Blog</a></li>
              <li><a href="http://www.datastax.com/what-we-offer/products-services/support" class="navbar-link">Support</a></li>
            </ul>
          </div>
          <div class="col-md-5">
            <p class="lead pubtitle">DataStax C/C++ Driver</p>
            
            <div class="text-info">
              <span class="text-warning">Attention:</span> Viewing documentation for version
              <div class="btn-group">
                <button id="current-version" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  2.2
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="current-version">
                
                  <li><a href="../../../../topics/basics/uuids/">2.8</a></li>
                
                  <li><a href="../../../../2.7/topics/basics/uuids/">2.7</a></li>
                
                  <li><a href="../../../../2.6/topics/basics/uuids/">2.6</a></li>
                
                  <li><a href="../../../../2.5/topics/basics/uuids/">2.5</a></li>
                
                  <li><a href="../../../../2.4/topics/basics/uuids/">2.4</a></li>
                
                  <li><a href="../../../../2.3/topics/basics/uuids/">2.3</a></li>
                
                  <li class="disabled"><a href="./">2.2</a></li>
                
                  <li><a href="../../../../2.1/topics/basics/uuids/">2.1</a></li>
                
                  <li><a href="../../../../2.0/topics/basics/uuids/">2.0</a></li>
                
                  <li><a href="../../../../1.0/topics/basics/uuids/">1.0</a></li>
                
                </ul>
              </div>
            </div>
            
          </div>
          <div class="col-md-4">
            <form id="search" class="form-search dropdown visible-lg-inline-block" ng-controller="search" ng-class="{open: hasResults}" role="search" ng-submit="submit()" data-spy="affix" data-offset-top="130">
              <div class="form-group has-feedback">
                <input type="search" class="form-control input-sm mousetrap" placeholder="Search..." ng-model="q" ng-change="search('2.2')" ng-disabled="!searchReady" disabled data-hotkey="{down: moveDown, up: moveUp, esc: reset}" data-search>
              </div>
              <ul class="dropdown-menu search-results" role="menu">
                <li ng-repeat="result in results" ng-class="{'bg-warning': $index == current}"><a ng-href="{{basePath}}{{result.path}}"><span ng-bind-html="summary(result)"></span></a></li>
              </ul>
            </form>
            <a href="http://www.datastax.com/download" class="btn btn-primary btn-sm">Download</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="content">
      <div class="row">
        <div class="col-md-3">
          <div id="navigation" class="side-nav" role="tablist" aria-multiselectable="true">
            <h3><a href="../../../">Contents</a></h3>
            <ul class="nav nav-pills nav-stacked">
  
  
  <li>
    <a href="../../../changelog/">
      Changelog <small>page</small>
      
    </a>
    
  </li>
  
  
  <li class="active">
    <a href="../../">
      Getting Started <small>page</small>
      
      
      <span class="glyphicon glyphicon-minus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    <ul class="nav nav-pills nav-stacked">
  
  
  <li>
    <a href="../../building/">
      Building <small>page</small>
      
    </a>
    
  </li>
  
  
  <li class="active">
    <a href="../">
      Basics <small>page</small>
      
      
      <span class="glyphicon glyphicon-minus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    <ul class="nav nav-pills nav-stacked">
  
  
  <li>
    <a href="../keyspaces/">
      Keyspaces <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../futures/">
      Futures <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../binding_parameters/">
      Binding Parameters <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../handling_results/">
      Handling Results <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../schema_metadata/">
      Schema Metadata <small>page</small>
      
    </a>
    
  </li>
  
  
  <li class="active">
    <a href="./" class="current">
      UUIDs <small>page</small>
      
    </a>
    <ul class="nav nav-pills nav-stacked">
  
</ul>

  </li>
  
  
  <li>
    <a href="../batches/">
      Batches <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../client_side_timestamps/">
      Client-side timestamps <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../consistency/">
      Consistency <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../data_types/">
      Data Types <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../prepared_statements/">
      Prepared Statements <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../date_and_time/">
      The date and time Types <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../tuples/">
      Tuples <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../user_defined_types/">
      User Defined Types (UDTs) <small>page</small>
      
    </a>
    
  </li>
  
</ul>

  </li>
  
  
  <li>
    <a href="../../security/">
      Security <small>page</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../logging/">
      Logging <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../configuration/">
      Configuration <small>page</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../faq/">
      FAQ <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../metrics/">
      Metrics <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../testing/">
      Testing <small>page</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
</ul>

  </li>
  
  
  <li>
    <a href="../../../api/">
      API docs <small>index</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
</ul>

          </div>
        </div>
        <div class="col-md-9 content">
          <div class="crumbs-wrapper">
            <nav id="crumbs" data-spy="affix" data-offset-top="130">
              <ol class="breadcrumb">
                
                
                
                <li><a href="../../../">Home</a></li>
                
                
                
                
                
                <li><a href="../../">Getting Started</a></li>
                
                
                
                
                
                <li><a href="../">Basics</a></li>
                
                
                
                
                
                <li class="active">UUIDs</li>
                
                
                
              </ol>
            </nav>
          </div>
          

<h1 id="uui-ds" class="target">UUIDs<a class="anchor" href="#uui-ds" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h1>

<p>UUIDs are 128-bit identifiers that can be used to uniquely identify information
without requiring central coordination. These are often used in Cassandra
for primary and clustering keys. There are two types of UUIDs supported by
the driver (and Cassandra), version 1 which is time-based and version 4 which
is randomly generated. Version 1 can be used with Cassandra&#8217;a <code>timeuuid</code> type
and can be used as a timestamp for data.  Timestamp information can be
extracted from the time part of a version 1 UUID using <a href="../../../api/struct.CassUuid/#1a3980467a0bb6642054ecf37d49aebf1a"><code>cass_uuid_timestamp()</code></a>.
Version 4 can be used with Cassandra’s <code>uuid</code> type for unique identification.</p>

<h2 id="generator" class="target">Generator<a class="anchor" href="#generator" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>A UUID generator object is used to create new UUIDs. The <a href="../../../api/struct.CassUuidGen/"><code>CassUuidGen</code></a> object
is thread-safe. It should only be created once per application and reused.</p>
<pre class="highlight"><code><span class="nc">CassUuidGen</span><span class="o">*</span> <span class="n">uuid_gen</span> <span class="o">=</span> <span class="nb">cass_uuid_gen_new</span><span class="p">();</span>

<span class="nc">CassUuid</span> <span class="n">uuid</span><span class="p">;</span>

<span class="cm">/* Generate a version 1 UUID */</span>
<span class="nb">cass_uuid_gen_time</span><span class="p">(</span><span class="n">uuid_gen</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">uuid</span><span class="p">);</span>

<span class="cm">/* Generate a version 1 UUID from an existing timestamp */</span>
<span class="nb">cass_uuid_gen_from_time</span><span class="p">(</span><span class="n">uuid_gen</span><span class="p">,</span> <span class="mi">1234</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">uuid</span><span class="p">);</span>

<span class="cm">/* Generate a version 4 UUID */</span>
<span class="nb">cass_uuid_gen_random</span><span class="p">(</span><span class="n">uuid_gen</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">uuid</span><span class="p">);</span>

<span class="nb">cass_uuid_gen_free</span><span class="p">(</span><span class="n">uuid_gen</span><span class="p">);</span>
</code></pre>
<p>A <a href="../../../api/struct.CassUuidGen/"><code>CassUuidGen</code></a> can also be created with user provided information for the
node part of the UUID. This only affects version 1 UUIDs.</p>
<pre class="highlight"><code><span class="cm">/* Only the 48 least signficant bits of the node are considered */</span>
<span class="nb">cass_uint64_t</span> <span class="n">node</span> <span class="o">=</span> <span class="mh">0x0000AAAABBBBCCCC</span><span class="p">;</span>

<span class="nc">CassUuidGen</span><span class="o">*</span> <span class="n">uuid_gen</span> <span class="o">=</span> <span class="nb">cass_uuid_gen_new_with_node</span><span class="p">(</span><span class="n">node</span><span class="p">);</span>

<span class="cm">/* Generate UUIDs */</span>

<span class="nb">cass_uuid_gen_free</span><span class="p">(</span><span class="n">uuid_gen</span><span class="p">);</span>
</code></pre>
<h2 id="extracting-information" class="target">Extracting information<a class="anchor" href="#extracting-information" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>Information such as the timestamp (for version 1 only) and the version can be
extracted from UUIDs. They can also be converted to and created from the their
hexadecimal string representation e.g. “550e8400-e29b-41d4-a716-446655440000”.</p>
<pre class="highlight"><code><span class="nc">CassUuid</span> <span class="n">uuid</span><span class="p">;</span>
<span class="nb">cass_uuid_from_string</span><span class="p">(</span><span class="s">"550e8400-e29b-41d4-a716-446655440000"</span><span class="p">,</span> <span class="o">&amp;</span><span class="n">uuid</span><span class="p">);</span>

<span class="cm">/* Extract timestamp and version */</span>
<span class="nb">cass_uint64_t</span> <span class="n">timestamp</span> <span class="o">=</span> <span class="nb">cass_uuid_timestamp</span><span class="p">(</span><span class="n">uuid</span><span class="p">);</span>
<span class="nb">cass_uint8_t</span> <span class="n">version</span> <span class="o">=</span> <span class="nb">cass_uuid_version</span><span class="p">(</span><span class="n">uuid</span><span class="p">);</span>

<span class="cm">/* Get string representation of the UUID */</span>
<span class="kt">char</span> <span class="n">uuid_str</span><span class="p">[</span><span class="n">CASS_UUID_STRING_LENGTH</span><span class="p">];</span>
<span class="nb">cass_uuid_string</span><span class="p">(</span><span class="n">uuid</span><span class="p">,</span> <span class="n">uuid_str</span><span class="p">);</span>
</code></pre>


        </div>
      </div>
    </div>

    

    <script src="../../../../js/jquery.js"></script>
    <script src="../../../../js/bootstrap.js"></script>
    <script src="../../../../js/angular.js"></script>
    <script src="../../../../js/mousetrap.js"></script>
    <script src="../../../../js/hotkeys.js"></script>
    <script src="../../../../js/ZeroClipboard.js"></script>
    <script src="../../../../js/lunr.js"></script>
    <script src="../../../../js/app.js"></script>
  </body>
</html>
