<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="DataStax C++ Driver for Apache Cassandra Documentation">
    <meta name="author" content="DataStax">

    <title>DataStax C/C++ Driver - SSL</title>

    <link rel="icon" href="../../../../favicon.ico">
    <link rel="apple-touch-icon" href="../../../../favicon.png">
    <link href="../../../../css/style.css" rel="stylesheet">
    <link href="../../../../css/pygments.css" rel="stylesheet">
    <link href="../../../../css/hotkeys.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="docs">
    <div class="navbar">
      <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left">
          <div class="col-sm-3 text-center">
            <a class="ds-home" href="../../../"><img alt="Brand" src="../../../../img/logo.png"></a>
            <ul class="list-inline ds-sites" role="nav">
              <li><a href="https://academy.datastax.com/" class="navbar-link">DataStax Academy</a></li>
              <li><a href="http://www.datastax.com/dev/blog" class="navbar-link">Tech Blog</a></li>
              <li><a href="http://www.datastax.com/what-we-offer/products-services/support" class="navbar-link">Support</a></li>
            </ul>
          </div>
          <div class="col-md-5">
            <p class="lead pubtitle">DataStax C/C++ Driver</p>
            
            <div class="text-info">
              <span class="text-warning">Attention:</span> Viewing documentation for version
              <div class="btn-group">
                <button id="current-version" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  2.1
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="current-version">
                
                  <li><a href="../../../../topics/security/ssl/">2.8</a></li>
                
                  <li><a href="../../../../2.7/topics/security/ssl/">2.7</a></li>
                
                  <li><a href="../../../../2.6/topics/security/ssl/">2.6</a></li>
                
                  <li><a href="../../../../2.5/topics/security/ssl/">2.5</a></li>
                
                  <li><a href="../../../../2.4/topics/security/ssl/">2.4</a></li>
                
                  <li><a href="../../../../2.3/topics/security/ssl/">2.3</a></li>
                
                  <li><a href="../../../../2.2/topics/security/ssl/">2.2</a></li>
                
                  <li class="disabled"><a href="./">2.1</a></li>
                
                  <li><a href="../../../../2.0/topics/security/ssl/">2.0</a></li>
                
                  <li><a href="../../../../1.0/topics/security/ssl/">1.0</a></li>
                
                </ul>
              </div>
            </div>
            
          </div>
          <div class="col-md-4">
            <form id="search" class="form-search dropdown visible-lg-inline-block" ng-controller="search" ng-class="{open: hasResults}" role="search" ng-submit="submit()" data-spy="affix" data-offset-top="130">
              <div class="form-group has-feedback">
                <input type="search" class="form-control input-sm mousetrap" placeholder="Search..." ng-model="q" ng-change="search('2.1')" ng-disabled="!searchReady" disabled data-hotkey="{down: moveDown, up: moveUp, esc: reset}" data-search>
              </div>
              <ul class="dropdown-menu search-results" role="menu">
                <li ng-repeat="result in results" ng-class="{'bg-warning': $index == current}"><a ng-href="{{basePath}}{{result.path}}"><span ng-bind-html="summary(result)"></span></a></li>
              </ul>
            </form>
            <a href="http://www.datastax.com/download" class="btn btn-primary btn-sm">Download</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="content">
      <div class="row">
        <div class="col-md-3">
          <div id="navigation" class="side-nav" role="tablist" aria-multiselectable="true">
            <h3><a href="../../../">Contents</a></h3>
            <ul class="nav nav-pills nav-stacked">
  
  
  <li>
    <a href="../../../changelog/">
      Changelog <small>page</small>
      
    </a>
    
  </li>
  
  
  <li class="active">
    <a href="../../">
      Getting Started <small>page</small>
      
      
      <span class="glyphicon glyphicon-minus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    <ul class="nav nav-pills nav-stacked">
  
  
  <li>
    <a href="../../building/">
      Building <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../basics/">
      Basics <small>page</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
  
  <li class="active">
    <a href="../">
      Security <small>page</small>
      
      
      <span class="glyphicon glyphicon-minus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    <ul class="nav nav-pills nav-stacked">
  
  
  <li class="active">
    <a href="./" class="current">
      SSL <small>page</small>
      
    </a>
    <ul class="nav nav-pills nav-stacked">
  
</ul>

  </li>
  
</ul>

  </li>
  
  
  <li>
    <a href="../../logging/">
      Logging <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../configuration/">
      Configuration <small>page</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../faq/">
      FAQ <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../metrics/">
      Metrics <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../testing/">
      Testing <small>page</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
</ul>

  </li>
  
  
  <li>
    <a href="../../../api/">
      API docs <small>index</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
</ul>

          </div>
        </div>
        <div class="col-md-9 content">
          <div class="crumbs-wrapper">
            <nav id="crumbs" data-spy="affix" data-offset-top="130">
              <ol class="breadcrumb">
                
                
                
                <li><a href="../../../">Home</a></li>
                
                
                
                
                
                <li><a href="../../">Getting Started</a></li>
                
                
                
                
                
                <li><a href="../">Security</a></li>
                
                
                
                
                
                <li class="active">SSL</li>
                
                
                
              </ol>
            </nav>
          </div>
          

<h1 id="ssl" class="target">SSL<a class="anchor" href="#ssl" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h1>

<p>This is a guide to setting up SSL using the C/C++ driver. This guide will use self-signed certificates, but most steps will be similar for certificates generated by a certificate authority (CA). The first step is to generate a public and private key pair for all Cassandra nodes and configure them to use the generated certificate.</p>

<p>Some notes on this guide:
- Keystore and truststore might be used interchangeably. These can and often times are the same file. This guide uses the same file for both (keystore.jks) The difference is keystores generally hold private keys and truststores hold public keys/certificate chains.
- Angle bracket fields (e.g. <code>&lt;field&gt;</code>) in examples need to be replaced with values specific to your environment.
- <a href="https://docs.oracle.com/javase/6/docs/technotes/tools/solaris/keytool.html">keytool</a> is an application included with Java 6+</p>

<p>SSL can be rather cumbersome to setup; if assistance is required please use the <a href="https://groups.google.com/a/lists.datastax.com/forum/#!forum/cpp-driver-user">mailing list</a> or <a href="http://webchat.freenode.net/?channels=datastax-drivers">#datastax-drivers on <code>irc.freenode.net &lt;http://freenode.net&gt;</code></a> for help.</p>

<h3 id="generating-the-cassandra-public-and-private-keys" class="target">Generating the Cassandra Public and Private Keys<a class="anchor" href="#generating-the-cassandra-public-and-private-keys" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>The most secure method of setting up SSL is to verify that DNS or IP address used to connect to the server matches identity information found in the SSL certificate. This helps to prevent man-in-the-middle attacks. Cassandra uses IP addresses internally so that’s the only supported information for identity verification. That means that the IP address of the Cassandra server where the certficate is installed needs to be present in either the certficate’s common name (CN) or one of its subject alternative names (SANs). It’s possible to create the certficate without either, but then it will not be possible to verify the server’s identity. Although this is not as secure, it eases the deployment of SSL by allowing the same certficate to be deployed across the entire Cassandra cluster.</p>

<p>To generate a public/private key pair with the IP address in the CN field use the following:</p>
<pre class="highlight"><code>keytool -genkeypair -noprompt -keyalg RSA -validity 36500 <span class="se">\</span>
  -alias node <span class="se">\</span>
  -keystore keystore.jks <span class="se">\</span>
  -storepass &lt;keystore password&gt; <span class="se">\</span>
  -keypass &lt;key password&gt; <span class="se">\</span>
  -dname <span class="s2">"CN=&lt;IP address goes here&gt;, OU=Drivers and Tools, O=DataStax Inc., L=Santa Clara, ST=California, C=US"</span>
</code></pre>
<p>If SAN is preferred use this command:</p>
<pre class="highlight"><code>keytool -genkeypair -noprompt -keyalg RSA -validity 36500 <span class="se">\</span>
  -alias node <span class="se">\</span>
  -keystore keystore.jks <span class="se">\</span>
  -storepass &lt;keystore password&gt; <span class="se">\</span>
  -keypass &lt;key password&gt; <span class="se">\</span>
  -ext <span class="nv">SAN</span><span class="o">=</span><span class="s2">"&lt;IP address goes here&gt;"</span> <span class="se">\</span>
  -dname <span class="s2">"CN=node1.datastax.com, OU=Drivers and Tools, O=DataStax Inc., L=Santa Clara, ST=California, C=US"</span>
</code></pre>
<p><strong>NOTE:</strong> If an IP address SAN is present then it overrides checking the CN.</p>

<h3 id="enabling-client-to-node-encryption-on-cassandra" class="target">Enabling <code>client-to-node</code> Encryption on Cassandra<a class="anchor" href="#enabling-client-to-node-encryption-on-cassandra" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>The generated keystore from the previous step will need to be copied to all Cassandra node(s) and an update of the cassandra.yaml configuration file will need to be performed.</p>
<pre class="highlight"><code>client_encryption_options:
  enabled: <span class="nb">true
  </span>keystore: &lt;Path to keystore&gt;/keystore.jks
  keystore_password: &lt;keystore password&gt; <span class="c">## The password used when generating the keystore.</span>
  truststore: &lt;Path to keystore&gt;/keystore.jks
  truststore_password: &lt;keystore password&gt;
  require_client_auth: &lt;<span class="nb">true </span>or <span class="nb">false</span>&gt;
</code></pre>
<p><strong>NOTE:</strong> In this example keystore and truststore are identical.</p>

<p>The following <a href="http://www.datastax.com/documentation/cassandra/2.1/cassandra/security/secureSSLClientToNode_t.html">guide</a> has more information related to configuring SSL on Cassandra.</p>

<h2 id="setting-up-the-c-c-driver-to-use-ssl" class="target">Setting up the C/C++ Driver to Use SSL<a class="anchor" href="#setting-up-the-c-c-driver-to-use-ssl" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>A <a href="../../../api/struct.CassSsl/"><code>CassSsl</code></a> object is required and must be configured:</p>
<pre class="highlight"><code><span class="cp">#include &lt;cassandra.h&gt;
</span>
<span class="kt">void</span> <span class="nf">setup_ssl</span><span class="p">(</span><span class="nc">CassCluster</span><span class="o">*</span> <span class="n">cluster</span><span class="p">)</span> <span class="p">{</span>
  <span class="nc">CassSsl</span><span class="o">*</span> <span class="n">ssl</span> <span class="o">=</span> <span class="nb">cass_ssl_new</span><span class="p">();</span>

  <span class="c1">// Configure SSL object...
</span>
  <span class="c1">// To enable SSL attach it to the cluster object
</span>  <span class="nb">cass_cluster_set_ssl</span><span class="p">(</span><span class="n">cluster</span><span class="p">,</span> <span class="n">ssl</span><span class="p">);</span>

  <span class="c1">// You can detach your reference to this object once it's
</span>  <span class="c1">// added to the cluster object
</span>  <span class="nb">cass_ssl_free</span><span class="p">(</span><span class="n">ssl</span><span class="p">);</span>
<span class="p">}</span>
</code></pre>
<h4 id="exporting-and-loading-the-cassandra-public-key" class="target">Exporting and Loading the Cassandra Public Key<a class="anchor" href="#exporting-and-loading-the-cassandra-public-key" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h4>

<p>The default setting of the driver is to verify the certificate sent during the SSL handshake. For the driver to properly verify the Cassandra certificate the driver needs either the public key from the self-signed public key or the CA certificate chain used to sign the public key. To have this work, extract the public key from the Cassandra keystore generated in the previous steps. This exports a <a href="https://en.wikipedia.org/wiki/Privacy-enhanced_Electronic_Mail#PEM_ENCRYPTION_FORMAT">PEM formatted</a> certificate which is required by the C/C++ driver.</p>
<pre class="highlight"><code>keytool -exportcert -rfc -noprompt <span class="se">\</span>
  -alias node <span class="se">\</span>
  -keystore keystore.jks <span class="se">\</span>
  -storepass &lt;keystore password&gt; <span class="se">\</span>
  -file cassandra.pem
</code></pre>
<p>The trusted certificate can then be loaded using the following code:
“`c
int load_trusted_cert_file(const char* file, CassSsl* ssl) {
  CassError rc;
  char* cert;
  long cert_size;</p>

<p>FILE *in = fopen(file, &#8220;rb”);
  if (in == NULL) {
    fprintf(stderr, “Error loading certificate file ’%s’\n”, file);
    return 0;
  }</p>

<p>fseek(in, 0, SEEK_END);
  cert_size = ftell(in);
  rewind(in);</p>

<p>cert = (char*)malloc(cert_size);
  fread(cert, sizeof(char), cert_size, in);
  fclose(in);</p>

<p>// Add the trusted certificate (or chain) to the driver
  rc = cass_ssl_add_trusted_cert_n(ssl, cert, cert_size);
  if (rc != CASS_OK) {
    fprintf(stderr, “Error loading SSL certificate: %s\n”, cass_error_desc(rc));
    free(cert);
    return 0;
  }</p>

<p>free(cert);
  return 1;
}
“`</p>

<p>It is possible to load multiple self-signed certificates or CA certificate chains. In the event where self-signed certificates with unique IP addresses are being used this will be required. It is possible to disable the certificate verification process, but it is not recommended.</p>
<pre class="highlight"><code><span class="c1">// Disable certifcate verifcation
</span><span class="nb">cass_ssl_set_verify_flags</span><span class="p">(</span><span class="n">ssl</span><span class="p">,</span> <span class="n">CASS_SSL_VERIFY_NONE</span><span class="p">);</span>
</code></pre>
<h4 id="enabling-cassandra-identity-verification" class="target">Enabling Cassandra identity verification<a class="anchor" href="#enabling-cassandra-identity-verification" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h4>

<p>If a unique certificate has been generated for each Cassandra node with the IP address in the CN or SAN fields, identity verification will also need to be enabled.</p>

<p><strong>NOTE:</strong> This is disabled by default.</p>
<pre class="highlight"><code><span class="c1">// Add identity verification flag: CASS_SSL_VERIFY_PEER_IDENTITY
</span><span class="nb">cass_ssl_set_verify_flags</span><span class="p">(</span><span class="n">ssl</span><span class="p">,</span> <span class="n">CASS_SSL_VERIFY_PEER_CERT</span> <span class="o">|</span> <span class="n">CASS_SSL_VERIFY_PEER_IDENTITY</span><span class="p">);</span>
</code></pre>
<h3 id="using-cassandra-and-the-c-c-driver-with-client-side-certificates" class="target">Using Cassandra and the C/C++ driver with client-side certificates<a class="anchor" href="#using-cassandra-and-the-c-c-driver-with-client-side-certificates" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>Client-side certificates allow Cassandra to authenticate the client using public key cryptography and chains of trust. This is same process as above but in reverse. The client has a public and private key and the Cassandra node has a copy of the private key or the CA chain used to generate the pair.</p>

<h4 id="generating-and-loading-the-client-side-certificate" class="target">Generating and loading the client-side certificate<a class="anchor" href="#generating-and-loading-the-client-side-certificate" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h4>

<p>A new public/private key pair needs to be generated for client authentication.</p>
<pre class="highlight"><code>keytool -genkeypair -noprompt -keyalg RSA -validity 36500 <span class="se">\</span>
  -alias driver <span class="se">\</span>
  -keystore keystore-driver.jks <span class="se">\</span>
  -storepass &lt;keystore password&gt; <span class="se">\</span>
  -keypass &lt;key password&gt;
</code></pre>
<p>The public and private key then need to be extracted and converted to the PEM format.</p>

<p>To extract the public:</p>
<pre class="highlight"><code>keytool -exportcert -rfc -noprompt <span class="se">\</span>
  -alias driver <span class="se">\</span>
  -keystore keystore-driver.jks <span class="se">\</span>
  -storepass &lt;keystore password&gt; <span class="se">\</span>
  -file driver.pem
</code></pre>
<p>To extract and convert the private key:</p>
<pre class="highlight"><code>keytool -importkeystore -noprompt -srcalias certificatekey -deststoretype PKCS12 <span class="se">\</span>
  -srcalias driver <span class="se">\</span>
  -srckeystore keystore-driver.jks <span class="se">\</span>
  -srcstorepass &lt;keystore password&gt; <span class="se">\</span>
  -storepass &lt;key password&gt; <span class="se">\</span>
  -destkeystore keystore-driver.p12

openssl pkcs12 -nomacver -nocerts <span class="se">\</span>
  -in keystore-driver.p12 <span class="se">\</span>
  -password pass:&lt;key password&gt; <span class="se">\</span>
  -passout pass:&lt;key password&gt; <span class="se">\</span>
  -out driver-private.pem
</code></pre>
<p>Now PEM formatted public and private key can be loaded. These files can be loaded using the same code from above in load_trusted_cert_file().</p>
<pre class="highlight"><code><span class="nc">CassError</span> <span class="n">rc</span> <span class="o">=</span> <span class="n">CASS_OK</span><span class="p">;</span>

<span class="kt">char</span><span class="o">*</span> <span class="n">cert</span> <span class="o">=</span> <span class="nx">NULL</span><span class="p">;</span>
<span class="kt">size_t</span> <span class="n">cert_size</span> <span class="o">=</span> <span class="mi">0</span><span class="p">;</span>

<span class="c1">// Load PEM-formatted certificate data and size into cert and cert_size...
</span>
<span class="n">rc</span> <span class="o">=</span> <span class="nb">cass_ssl_set_cert_n</span><span class="p">(</span><span class="n">ssl</span><span class="p">,</span> <span class="n">cert</span><span class="p">,</span> <span class="n">cert_size</span><span class="p">);</span>
<span class="k">if</span> <span class="p">(</span><span class="n">rc</span> <span class="o">!=</span> <span class="n">CASS_OK</span><span class="p">)</span> <span class="p">{</span>
  <span class="c1">// Handle error
</span><span class="p">}</span>

<span class="kt">char</span><span class="o">*</span> <span class="n">key</span> <span class="o">=</span> <span class="nx">NULL</span><span class="p">;</span>
<span class="kt">size_t</span> <span class="n">key_size</span> <span class="o">=</span> <span class="mi">0</span><span class="p">;</span>

<span class="c1">// A password is required when the private key is encrypted. If the private key
// is NOT password protected use NULL.
</span><span class="k">const</span> <span class="kt">char</span><span class="o">*</span> <span class="n">key_password</span> <span class="o">=</span> <span class="s">"&lt;key password&gt;"</span><span class="p">;</span>

<span class="c1">// Load PEM-formatted private key data and size into key and key_size...
</span>
<span class="n">rc</span> <span class="o">=</span> <span class="nb">cass_ssl_set_private_key_n</span><span class="p">(</span><span class="n">ssl</span><span class="p">,</span> <span class="n">key</span><span class="p">,</span> <span class="n">key_size</span><span class="p">,</span> <span class="n">key_password</span><span class="p">,</span> <span class="n">strlen</span><span class="p">(</span><span class="n">key_password</span><span class="p">));</span>
<span class="k">if</span> <span class="p">(</span><span class="n">rc</span> <span class="o">!=</span> <span class="n">CASS_OK</span><span class="p">)</span> <span class="p">{</span>
  <span class="c1">// Handle error
</span><span class="p">}</span>
</code></pre>
<h4 id="setting-up-client-authentication-with-cassandra" class="target">Setting up client authentication with Cassandra<a class="anchor" href="#setting-up-client-authentication-with-cassandra" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h4>

<p>The driver’s public key or the CA chain used to sign the driver’s certificate will need to be added to Cassandra’s truststore. If using self-signed certificate then the public key will need to be extracted from the driver’s keystore generated in the previous steps.</p>

<p>Extract the public key from the driver’s keystore and add it to Cassandra’s truststore.</p>
<pre class="highlight"><code>keytool -exportcert -noprompt <span class="se">\</span>
  -alias driver <span class="se">\</span>
  -keystore keystore-driver.jks <span class="se">\</span>
  -storepass cassandra <span class="se">\</span>
  -file cassandra-driver.crt

keytool -import -noprompt <span class="se">\</span>
  -alias truststore <span class="se">\</span>
  -keystore keystore.jks <span class="se">\</span>
  -storepass cassandra <span class="se">\</span>
  -file cassandra-driver.crt
</code></pre>
<p>Client authentication in cassandra.yaml will also need to be enabled</p>
<pre class="highlight"><code><span class="s">require_client_auth</span><span class="pi">:</span> <span class="s">true</span>
</code></pre>


        </div>
      </div>
    </div>

    

    <script src="../../../../js/jquery.js"></script>
    <script src="../../../../js/bootstrap.js"></script>
    <script src="../../../../js/angular.js"></script>
    <script src="../../../../js/mousetrap.js"></script>
    <script src="../../../../js/hotkeys.js"></script>
    <script src="../../../../js/ZeroClipboard.js"></script>
    <script src="../../../../js/lunr.js"></script>
    <script src="../../../../js/app.js"></script>
  </body>
</html>
