<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="DataStax C++ Driver for Apache Cassandra Documentation">
    <meta name="author" content="DataStax">

    <title>DataStax C/C++ Driver - Schema Metadata</title>

    <link rel="icon" href="../../../../favicon.ico">
    <link rel="apple-touch-icon" href="../../../../favicon.png">
    <link href="../../../../css/style.css" rel="stylesheet">
    <link href="../../../../css/pygments.css" rel="stylesheet">
    <link href="../../../../css/hotkeys.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="docs">
    <div class="navbar">
      <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left">
          <div class="col-sm-3 text-center">
            <a class="ds-home" href="../../../"><img alt="Brand" src="../../../../img/logo.png"></a>
            <ul class="list-inline ds-sites" role="nav">
              <li><a href="https://academy.datastax.com/" class="navbar-link">DataStax Academy</a></li>
              <li><a href="http://www.datastax.com/dev/blog" class="navbar-link">Tech Blog</a></li>
              <li><a href="http://www.datastax.com/what-we-offer/products-services/support" class="navbar-link">Support</a></li>
            </ul>
          </div>
          <div class="col-md-5">
            <p class="lead pubtitle">DataStax C/C++ Driver</p>
            
            <div class="text-info">
              <span class="text-warning">Attention:</span> Viewing documentation for version
              <div class="btn-group">
                <button id="current-version" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  2.2
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="current-version">
                
                  <li><a href="../../../../topics/basics/schema_metadata/">2.5</a></li>
                
                  <li><a href="../../../../2.4/topics/basics/schema_metadata/">2.4</a></li>
                
                  <li><a href="../../../../2.3/topics/basics/schema_metadata/">2.3</a></li>
                
                  <li class="disabled"><a href="./">2.2</a></li>
                
                  <li><a href="../../../../2.1/topics/basics/schema_metadata/">2.1</a></li>
                
                  <li><a href="../../../../2.0/topics/basics/schema_metadata/">2.0</a></li>
                
                  <li><a href="../../../../1.0/topics/basics/schema_metadata/">1.0</a></li>
                
                </ul>
              </div>
            </div>
            
          </div>
          <div class="col-md-4">
            <form id="search" class="form-search dropdown visible-lg-inline-block" ng-controller="search" ng-class="{open: hasResults}" role="search" ng-submit="submit()" data-spy="affix" data-offset-top="130">
              <div class="form-group has-feedback">
                <input type="search" class="form-control input-sm mousetrap" placeholder="Search..." ng-model="q" ng-change="search('2.2')" ng-disabled="!searchReady" disabled data-hotkey="{down: moveDown, up: moveUp, esc: reset}" data-search>
              </div>
              <ul class="dropdown-menu search-results" role="menu">
                <li ng-repeat="result in results" ng-class="{'bg-warning': $index == current}"><a ng-href="{{basePath}}{{result.path}}"><span ng-bind-html="summary(result)"></span></a></li>
              </ul>
            </form>
            <a href="http://www.datastax.com/download" class="btn btn-primary btn-sm">Download</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="content">
      <div class="row">
        <div class="col-md-3">
          <div id="navigation" class="side-nav" role="tablist" aria-multiselectable="true">
            <h3><a href="../../../">Contents</a></h3>
            <ul class="nav nav-pills nav-stacked">
  
  
  <li class="active">
    <a href="../../">
      Getting Started <small>page</small>
      
      
      <span class="glyphicon glyphicon-minus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    <ul class="nav nav-pills nav-stacked">
  
  
  <li>
    <a href="../../building/">
      Building <small>page</small>
      
    </a>
    
  </li>
  
  
  <li class="active">
    <a href="../">
      Basics <small>page</small>
      
      
      <span class="glyphicon glyphicon-minus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    <ul class="nav nav-pills nav-stacked">
  
  
  <li>
    <a href="../keyspaces/">
      Keyspaces <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../futures/">
      Futures <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../binding_parameters/">
      Binding Parameters <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../handling_results/">
      Handling Results <small>page</small>
      
    </a>
    
  </li>
  
  
  <li class="active">
    <a href="./" class="current">
      Schema Metadata <small>page</small>
      
    </a>
    <ul class="nav nav-pills nav-stacked">
  
</ul>

  </li>
  
  
  <li>
    <a href="../uuids/">
      UUIDs <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../batches/">
      Batches <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../client_side_timestamps/">
      Client-side timestamps <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../consistency/">
      Consistency <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../data_types/">
      Data Types <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../prepared_statements/">
      Prepared Statements <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../date_and_time/">
      The date and time Types <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../tuples/">
      Tuples <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../user_defined_types/">
      User Defined Types (UDTs) <small>page</small>
      
    </a>
    
  </li>
  
</ul>

  </li>
  
  
  <li>
    <a href="../../security/">
      Security <small>page</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../logging/">
      Logging <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../configuration/">
      Configuration <small>page</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../faq/">
      FAQ <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../metrics/">
      Metrics <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../testing/">
      Testing <small>page</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
</ul>

  </li>
  
  
  <li>
    <a href="../../../api/">
      API docs <small>index</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
</ul>

          </div>
        </div>
        <div class="col-md-9 content">
          <div class="crumbs-wrapper">
            <nav id="crumbs" data-spy="affix" data-offset-top="130">
              <ol class="breadcrumb">
                
                
                
                <li><a href="../../../">Home</a></li>
                
                
                
                
                
                <li><a href="../../">Getting Started</a></li>
                
                
                
                
                
                <li><a href="../">Basics</a></li>
                
                
                
                
                
                <li class="active">Schema Metadata</li>
                
                
                
              </ol>
            </nav>
          </div>
          

<h1 id="schema-metadata" class="target">Schema Metadata<a class="anchor" href="#schema-metadata" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h1>

<p>The driver provides access to keyspace and table metadata. This schema metadata
is monitored by the control connection and automatically kept up-to-date.</p>
<pre class="highlight"><code><span class="cm">/* Get snapshot of the schema */</span>
<span class="k">const</span> <span class="nc">CassSchemaMeta</span><span class="o">*</span> <span class="n">schema_meta</span> <span class="o">=</span> <span class="nb">cass_session_get_schema_meta</span><span class="p">(</span><span class="n">session</span><span class="p">);</span>

<span class="cm">/* Get information about the "keyspace1" schema */</span>
<span class="k">const</span> <span class="nc">CassKeyspaceMeta</span><span class="o">*</span> <span class="n">keyspace1_meta</span>
  <span class="o">=</span> <span class="nb">cass_schema_meta_keyspace_by_name</span><span class="p">(</span><span class="n">schema_meta</span><span class="p">,</span> <span class="s">"keyspace1"</span><span class="p">);</span>

<span class="k">if</span> <span class="p">(</span><span class="n">keyspace1_meta</span> <span class="o">==</span> <span class="nx">NULL</span><span class="p">)</span> <span class="p">{</span>
  <span class="cm">/* Handle error */</span>
<span class="p">}</span>

<span class="cm">/* Get the key-value filed for "strategy_class" */</span>
<span class="k">const</span> <span class="nc">CassValue</span><span class="o">*</span> <span class="n">strategy_class_value</span>
  <span class="o">=</span> <span class="nb">cass_keyspace_meta_field_by_name</span><span class="p">(</span><span class="n">keyspace1_meta</span><span class="p">,</span> <span class="s">"strategy_class"</span><span class="p">);</span>

<span class="k">if</span> <span class="p">(</span><span class="n">strategy_class_value</span> <span class="o">==</span> <span class="nx">NULL</span><span class="p">)</span> <span class="p">{</span>
  <span class="cm">/* Handle error */</span>
<span class="p">}</span>

<span class="cm">/* Fields values use the existing cass_value*() API */</span>
<span class="k">const</span> <span class="kt">char</span><span class="o">*</span> <span class="n">strategy_class</span><span class="p">;</span>
<span class="kt">size_t</span> <span class="n">strategy_class_length</span><span class="p">;</span>
<span class="nb">cass_value_get_string</span><span class="p">(</span><span class="n">strategy_class_value</span><span class="p">,</span>
                      <span class="o">&amp;</span><span class="n">strategy_class</span><span class="p">,</span>
                      <span class="o">&amp;</span><span class="n">strategy_class_length</span><span class="p">);</span>

<span class="cm">/* Do something with strategy_class */</span>

<span class="cm">/* All values derived from the schema are cleaned up */</span>
<span class="nb">cass_schema_meta_free</span><span class="p">(</span><span class="n">schema_meta</span><span class="p">);</span>
</code></pre>
<p>The snapshot obtained by <a href="../../../api/struct.CassSession/#cass-session-get-schema-meta"><code>cass_session_get_schema_meta()</code></a> will not see schema changes
that happened after the call. A new snapshot needs to be obtained to see
subsequent updates to the schema.</p>

<h2 id="enabling-disabling-schema-metadata" class="target">Enabling/Disabling Schema Metadata<a class="anchor" href="#enabling-disabling-schema-metadata" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>Retrieving and updating schema metadata can be enabled or disabled. It is
enabled by default. However, some application might wish to reduce this
overhead. This can be useful to improve the startup performance of the
short-lived sessions or an environment where up-to-date schema metadata is
unnecessary.</p>

<p><strong>Important</strong>: This also disables token-aware routing because it depends on
schema metadata.</p>
<pre class="highlight"><code><span class="cm">/* Disable schema metdata */</span>
<span class="nb">cass_cluster_set_use_schema</span><span class="p">(</span><span class="n">cluster</span><span class="p">,</span> <span class="nb">cass_false</span><span class="p">);</span>
</code></pre>


        </div>
      </div>
    </div>

    

    <script src="../../../../js/jquery.js"></script>
    <script src="../../../../js/bootstrap.js"></script>
    <script src="../../../../js/angular.js"></script>
    <script src="../../../../js/mousetrap.js"></script>
    <script src="../../../../js/hotkeys.js"></script>
    <script src="../../../../js/ZeroClipboard.js"></script>
    <script src="../../../../js/lunr.js"></script>
    <script src="../../../../js/app.js"></script>
  </body>
</html>
