<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="DataStax C++ Driver for Apache Cassandra Documentation">
    <meta name="author" content="DataStax">

    <title>DataStax C/C++ Driver - Running</title>

    <link rel="icon" href="../../../../favicon.ico">
    <link rel="apple-touch-icon" href="../../../../favicon.png">
    <link href="../../../../css/style.css" rel="stylesheet">
    <link href="../../../../css/pygments.css" rel="stylesheet">
    <link href="../../../../css/hotkeys.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="docs">
    <div class="navbar">
      <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left">
          <div class="col-sm-3 text-center">
            <a class="ds-home" href="../../../"><img alt="Brand" src="../../../../img/logo.png"></a>
            <ul class="list-inline ds-sites" role="nav">
              <li><a href="https://academy.datastax.com/" class="navbar-link">DataStax Academy</a></li>
              <li><a href="http://www.datastax.com/dev/blog" class="navbar-link">Tech Blog</a></li>
              <li><a href="http://www.datastax.com/what-we-offer/products-services/support" class="navbar-link">Support</a></li>
            </ul>
          </div>
          <div class="col-md-5">
            <p class="lead pubtitle">DataStax C/C++ Driver</p>
            
            <div class="text-info">
              <span class="text-warning">Attention:</span> Viewing documentation for version
              <div class="btn-group">
                <button id="current-version" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  2.6
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="current-version">
                
                  <li><a href="../../../../topics/testing/running/">2.7</a></li>
                
                  <li class="disabled"><a href="./">2.6</a></li>
                
                  <li><a href="../../../../2.5/topics/testing/running/">2.5</a></li>
                
                  <li><a href="../../../../2.4/topics/testing/running/">2.4</a></li>
                
                  <li><a href="../../../../2.3/topics/testing/running/">2.3</a></li>
                
                  <li><a href="../../../../2.2/topics/testing/running/">2.2</a></li>
                
                  <li><a href="../../../../2.1/topics/testing/running/">2.1</a></li>
                
                  <li><a href="../../../../2.0/topics/testing/running/">2.0</a></li>
                
                  <li><a href="../../../../1.0/">1.0</a></li>
                
                </ul>
              </div>
            </div>
            
          </div>
          <div class="col-md-4">
            <form id="search" class="form-search dropdown visible-lg-inline-block" ng-controller="search" ng-class="{open: hasResults}" role="search" ng-submit="submit()" data-spy="affix" data-offset-top="130">
              <div class="form-group has-feedback">
                <input type="search" class="form-control input-sm mousetrap" placeholder="Search..." ng-model="q" ng-change="search('2.6')" ng-disabled="!searchReady" disabled data-hotkey="{down: moveDown, up: moveUp, esc: reset}" data-search>
              </div>
              <ul class="dropdown-menu search-results" role="menu">
                <li ng-repeat="result in results" ng-class="{'bg-warning': $index == current}"><a ng-href="{{basePath}}{{result.path}}"><span ng-bind-html="summary(result)"></span></a></li>
              </ul>
            </form>
            <a href="http://www.datastax.com/download" class="btn btn-primary btn-sm">Download</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="content">
      <div class="row">
        <div class="col-md-3">
          <div id="navigation" class="side-nav" role="tablist" aria-multiselectable="true">
            <h3><a href="../../../">Contents</a></h3>
            <ul class="nav nav-pills nav-stacked">
  
  
  <li class="active">
    <a href="../../">
      Getting Started <small>page</small>
      
      
      <span class="glyphicon glyphicon-minus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    <ul class="nav nav-pills nav-stacked">
  
  
  <li>
    <a href="../../building/">
      Building <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../basics/">
      Basics <small>page</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../security/">
      Security <small>page</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../logging/">
      Logging <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../configuration/">
      Configuration <small>page</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../faq/">
      FAQ <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../metrics/">
      Metrics <small>page</small>
      
    </a>
    
  </li>
  
  
  <li class="active">
    <a href="../">
      Testing <small>page</small>
      
      
      <span class="glyphicon glyphicon-minus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    <ul class="nav nav-pills nav-stacked">
  
  
  <li>
    <a href="../ccm/">
      Cassandra Cluster Manager (CCM) <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../configuration/">
      Configuration <small>page</small>
      
    </a>
    
  </li>
  
  
  <li class="active">
    <a href="./" class="current">
      Running <small>page</small>
      
    </a>
    <ul class="nav nav-pills nav-stacked">
  
</ul>

  </li>
  
</ul>

  </li>
  
</ul>

  </li>
  
  
  <li>
    <a href="../../../api/">
      API docs <small>index</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
</ul>

          </div>
        </div>
        <div class="col-md-9 content">
          <div class="crumbs-wrapper">
            <nav id="crumbs" data-spy="affix" data-offset-top="130">
              <ol class="breadcrumb">
                
                
                
                <li><a href="../../../">Home</a></li>
                
                
                
                
                
                <li><a href="../../">Getting Started</a></li>
                
                
                
                
                
                <li><a href="../">Testing</a></li>
                
                
                
                
                
                <li class="active">Running</li>
                
                
                
              </ol>
            </nav>
          </div>
          

<h1 id="running" class="target">Running<a class="anchor" href="#running" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h1>

<h2 id="unit-testing" class="target">Unit Testing<a class="anchor" href="#unit-testing" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>The unit tests do not require any additional setup or configuration. Simply run
the <code>cassandra_unit_tests</code> executable. </p>

<p>This executable can be found in the
<code>test/unit_tests</code> directory under the <code>build</code> directory on Unix platforms. The <code>build</code>
directory is typically the current working directory when you run unit tests since that
is the directory where the build was launched from.</p>

<p>The <code>cassandra_unit_tests</code> executable is located in the <code>driver\test\unit_tests\&lt;build flavor&gt;</code> directory on
Windows. <code>&lt;build flavor&gt;</code> is either <code>Release</code> or <code>Debug</code>.</p>

<p>Unit tests are used to ensure the functionality of internal components and don’t require an instance of Cassandra
to be running.</p>

<h2 id="integration-testing" class="target">Integration Testing<a class="anchor" href="#integration-testing" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>The integration tests require a machine (local or remote) with Secure Shell
(SSH) capabilities; either physical machine or Virtual Machine (VM). These
tests rely on <a href="../ccm/">Cassandra Cluster Manager (CCM)</a> and
cannot run successfully if this dependency is not met. Once the <a href="../configuration/">configuration</a>
has been completed the integration tests can be run by executing the
<code>cassandra_integration_tests</code> executable. </p>

<p>This executable can be found in the <code>test/integration_tests</code> directory under the <code>build</code>
directory on Unix platforms. The <code>build</code> directory is typically the current working directory
when you run unit tests since that is the directory where the build was launched from.</p>

<p>The <code>cassandra_integration_tests</code> executable is located in the
<code>driver\test\integration_tests\&lt;build flavor&gt;</code> directory on Windows. <code>&lt;build flavor&gt;</code> is
either <code>Release</code> or <code>Debug</code>.</p>

<p>Integration tests are used to ensure the functionality of the driver’s API and/or the interaction of multiple
internal components.</p>

<h2 id="running-tests-individually" class="target">Running Tests Individually<a class="anchor" href="#running-tests-individually" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>Running the unit or integration test executable without any arguments will start all
of the tests in sequence (one after another). The Boost Test
framework with which the integration and unit tests are compiled come with a
filter argument that allows for individual test execution. Using the
<code>--run_test</code> (or <code>-t</code> short option) argument, supplying the test suite and case will execute a single
test.</p>

<h3 id="example" class="target">Example<a class="anchor" href="#example" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>The example below shows how to execute the <code>simple</code> test case in the <code>async</code>
test suite of the integration tests.</p>
<pre class="highlight"><code>./test/integration_tests/cassandra_integration_tests --run_test<span class="o">=</span>async/simple
</code></pre>
<p>To run all of the test cases in the <code>async</code> suite, wildcards can be used in
conjunction with the <code>run_test</code> argument</p>
<pre class="highlight"><code>./test/integration_tests/cassandra_integration_tests -t async/<span class="k">*</span>
</code></pre>
<p>Equivalently, without wildcards all test cases within the suite run:</p>
<pre class="highlight"><code>./test/integration_tests/cassandra_integration_tests -t async
</code></pre>


        </div>
      </div>
    </div>

    

    <script src="../../../../js/jquery.js"></script>
    <script src="../../../../js/bootstrap.js"></script>
    <script src="../../../../js/angular.js"></script>
    <script src="../../../../js/mousetrap.js"></script>
    <script src="../../../../js/hotkeys.js"></script>
    <script src="../../../../js/ZeroClipboard.js"></script>
    <script src="../../../../js/lunr.js"></script>
    <script src="../../../../js/app.js"></script>
  </body>
</html>
