<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="DataStax C++ Driver for Apache Cassandra Documentation">
    <meta name="author" content="DataStax">

    <title>DataStax C/C++ Driver - Cassandra Cluster Manager (CCM)</title>

    <link rel="icon" href="../../../../favicon.ico">
    <link rel="apple-touch-icon" href="../../../../favicon.png">
    <link href="../../../../css/style.css" rel="stylesheet">
    <link href="../../../../css/pygments.css" rel="stylesheet">
    <link href="../../../../css/hotkeys.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="docs">
    <div class="navbar">
      <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left">
          <div class="col-sm-3 text-center">
            <a class="ds-home" href="../../../"><img alt="Brand" src="../../../../img/logo.png"></a>
            <ul class="list-inline ds-sites" role="nav">
              <li><a href="https://academy.datastax.com/" class="navbar-link">DataStax Academy</a></li>
              <li><a href="http://www.datastax.com/dev/blog" class="navbar-link">Tech Blog</a></li>
              <li><a href="http://www.datastax.com/what-we-offer/products-services/support" class="navbar-link">Support</a></li>
            </ul>
          </div>
          <div class="col-md-5">
            <p class="lead pubtitle">DataStax C/C++ Driver</p>
            
            <div class="text-info">
              <span class="text-warning">Attention:</span> Viewing documentation for version
              <div class="btn-group">
                <button id="current-version" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  2.1
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="current-version">
                
                  <li><a href="../../../../topics/testing/ccm/">2.6</a></li>
                
                  <li><a href="../../../../2.5/topics/testing/ccm/">2.5</a></li>
                
                  <li><a href="../../../../2.4/topics/testing/ccm/">2.4</a></li>
                
                  <li><a href="../../../../2.3/topics/testing/ccm/">2.3</a></li>
                
                  <li><a href="../../../../2.2/topics/testing/ccm/">2.2</a></li>
                
                  <li class="disabled"><a href="./">2.1</a></li>
                
                  <li><a href="../../../../2.0/topics/testing/ccm/">2.0</a></li>
                
                  <li><a href="../../../../1.0/">1.0</a></li>
                
                </ul>
              </div>
            </div>
            
          </div>
          <div class="col-md-4">
            <form id="search" class="form-search dropdown visible-lg-inline-block" ng-controller="search" ng-class="{open: hasResults}" role="search" ng-submit="submit()" data-spy="affix" data-offset-top="130">
              <div class="form-group has-feedback">
                <input type="search" class="form-control input-sm mousetrap" placeholder="Search..." ng-model="q" ng-change="search('2.1')" ng-disabled="!searchReady" disabled data-hotkey="{down: moveDown, up: moveUp, esc: reset}" data-search>
              </div>
              <ul class="dropdown-menu search-results" role="menu">
                <li ng-repeat="result in results" ng-class="{'bg-warning': $index == current}"><a ng-href="{{basePath}}{{result.path}}"><span ng-bind-html="summary(result)"></span></a></li>
              </ul>
            </form>
            <a href="http://www.datastax.com/download" class="btn btn-primary btn-sm">Download</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="content">
      <div class="row">
        <div class="col-md-3">
          <div id="navigation" class="side-nav" role="tablist" aria-multiselectable="true">
            <h3><a href="../../../">Contents</a></h3>
            <ul class="nav nav-pills nav-stacked">
  
  
  <li class="active">
    <a href="../../">
      Getting Started <small>page</small>
      
      
      <span class="glyphicon glyphicon-minus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    <ul class="nav nav-pills nav-stacked">
  
  
  <li>
    <a href="../../building/">
      Building <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../basics/">
      Basics <small>page</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../security/">
      Security <small>page</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../logging/">
      Logging <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../configuration/">
      Configuration <small>page</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../faq/">
      FAQ <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../../metrics/">
      Metrics <small>page</small>
      
    </a>
    
  </li>
  
  
  <li class="active">
    <a href="../">
      Testing <small>page</small>
      
      
      <span class="glyphicon glyphicon-minus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    <ul class="nav nav-pills nav-stacked">
  
  
  <li class="active">
    <a href="./" class="current">
      Cassandra Cluster Manager (CCM) <small>page</small>
      
    </a>
    <ul class="nav nav-pills nav-stacked">
  
</ul>

  </li>
  
  
  <li>
    <a href="../configuration/">
      Configuration <small>page</small>
      
    </a>
    
  </li>
  
  
  <li>
    <a href="../running/">
      Running <small>page</small>
      
    </a>
    
  </li>
  
</ul>

  </li>
  
</ul>

  </li>
  
  
  <li>
    <a href="../../../api/">
      API docs <small>index</small>
      
      
      <span class="glyphicon glyphicon-plus-sign pull-right" aria-hidden="true"></span>
      
      
    </a>
    
  </li>
  
</ul>

          </div>
        </div>
        <div class="col-md-9 content">
          <div class="crumbs-wrapper">
            <nav id="crumbs" data-spy="affix" data-offset-top="130">
              <ol class="breadcrumb">
                
                
                
                <li><a href="../../../">Home</a></li>
                
                
                
                
                
                <li><a href="../../">Getting Started</a></li>
                
                
                
                
                
                <li><a href="../">Testing</a></li>
                
                
                
                
                
                <li class="active">Cassandra Cluster Manager (CCM)</li>
                
                
                
              </ol>
            </nav>
          </div>
          

<h1 id="cassandra-cluster-manager-ccm" class="target">Cassandra Cluster Manager (CCM)<a class="anchor" href="#cassandra-cluster-manager-ccm" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h1>

<p><a href="https://github.com/pcmanus/ccm">CCM</a> is a script/library used to assist in setup and teardown of Apache
Cassandra on a local machine. In an effort to reduce inconsistencies and create
a repeatable testing environment <a href="https://www.vagrantup.com/downloads.html">Vagrant</a> can be utilized to start and stop a
<a href="https://www.virtualbox.org/wiki/Downloads">Virtual Box</a> VM for integration testing.</p>

<h2 id="ccm-cluster-by-way-of-vagrant-and-virtual-box" class="target">CCM Cluster by way of Vagrant and Virtual Box<a class="anchor" href="#ccm-cluster-by-way-of-vagrant-and-virtual-box" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>CCM Cluster is a 64-bit Ubuntu 12.04 VM. This VM comes configured with ant,
git, maven, python, CCM, JDK v1.7 Update (Latest), and Java Cryptography
Extension (JCE) Unlimited Strength Jurisdiction Policy Files v7</p>

<p><strong>NOTE:</strong> The JCE is required for Secure Sockets Layer (SSL) testing.</p>

<p>The VM contains the following specifications:</p>

<ul>
<li>4GB of RAM</li>
<li>32MB of Video RAM</li>
<li>4 Cores</li>
<li>Hostname: ccm-cluster</li>
<li>Username: vagrant</li>
<li>Password: vagrant</li>
<li>6 NICs

<ul>
<li>Node 1: 192.168.33.11</li>
<li>Node 2: 192.168.33.12</li>
<li>Node 3: 192.168.33.13</li>
<li>Node 4: 192.168.33.14</li>
<li>Node 5: 192.168.33.15</li>
<li>Node 6: 192.168.33.16</li>
</ul>
</li>
</ul>
<pre class="highlight"><code><span class="c1"># -*- mode: ruby -*-</span>
<span class="c1"># vi: set ft=ruby :</span>

<span class="c1"># Vagrantfile API/syntax version. Don't touch unless you know what you're doing!</span>
<span class="no">VAGRANTFILE_API_VERSION</span> <span class="o">=</span> <span class="s2">"2"</span>

<span class="c1"># Inline provision script</span>
<span class="no">CCM_PROVISION_SCRIPT</span> <span class="o">=</span> <span class="o">&lt;&lt;</span><span class="no">EOF</span><span class="sh">
#!/bin/bash

#Install package updates
printf "Installing System Packages ...</span><span class="se">\n</span><span class="sh">"
#Add JDK repository and update packages
add-apt-repository ppa:webupd8team/java -y &gt; /dev/null 2&gt;&amp;1
apt-get update -y -qq

#Auto accept the the Java license aggreement
echo debconf shared/accepted-oracle-license-v1-1 select true | sudo debconf-set-selections
echo debconf shared/accepted-oracle-license-v1-1 seen true | sudo debconf-set-selections

#Install the packages
apt-get install ant git maven oracle-java7-installer oracle-java7-unlimited-jce-policy python-dev python-pip -y -qq

#Install CCM and its dependencies
printf "Installing CCM and its dependencies ...</span><span class="se">\n</span><span class="sh">"
pip install -q ccm psutil pyyaml six &gt; /dev/null 2&gt;&amp;1
</span><span class="no">EOF</span>

<span class="c1">##</span>
<span class="c1"># Configure a 6 node Cassandra Cluster Manager (CCM) Virtual Machine (VM) with</span>
<span class="c1"># the following settings:</span>
<span class="c1">#</span>
<span class="c1">#   - 4GB of RAM</span>
<span class="c1">#   - 32MB of Video RAM</span>
<span class="c1">#   - 4 cores (CPUs)</span>
<span class="c1">#   - Hostname: ccm-cluster</span>
<span class="c1">#   - Username: vagrant</span>
<span class="c1">#   - Password: vagrant</span>
<span class="c1">#   - 6 Network Interfaces Cards (NICs)</span>
<span class="c1">#     - Node 1: 192.168.33.11</span>
<span class="c1">#     - Node 2: 192.168.33.12</span>
<span class="c1">#     - Node 3: 192.168.33.13</span>
<span class="c1">#     - Node 4: 192.168.33.14</span>
<span class="c1">#     - Node 5: 192.168.33.15</span>
<span class="c1">#     - Node 6: 192.168.33.16</span>
<span class="c1">##</span>
<span class="no">Vagrant</span><span class="p">.</span><span class="nf">configure</span><span class="p">(</span><span class="no">VAGRANTFILE_API_VERSION</span><span class="p">)</span> <span class="k">do</span> <span class="o">|</span><span class="n">config</span><span class="o">|</span>
  <span class="c1"># Create Ubuntu 12.04 LTS VM</span>
  <span class="n">config</span><span class="p">.</span><span class="nf">vm</span><span class="p">.</span><span class="nf">box</span> <span class="o">=</span> <span class="s2">"ubuntu/precise64"</span>

  <span class="c1"># Define the hostname and IP addresses (6 node cluster)</span>
  <span class="n">config</span><span class="p">.</span><span class="nf">vm</span><span class="p">.</span><span class="nf">define</span> <span class="s2">"ccm-cluster"</span> <span class="k">do</span> <span class="o">|</span><span class="n">ccm_cluster</span><span class="o">|</span>
    <span class="n">ccm_cluster</span><span class="p">.</span><span class="nf">vm</span><span class="p">.</span><span class="nf">hostname</span> <span class="o">=</span> <span class="s2">"ccm-cluster"</span>
    <span class="n">ccm_cluster</span><span class="p">.</span><span class="nf">vm</span><span class="p">.</span><span class="nf">network</span> <span class="s2">"private_network"</span><span class="p">,</span> <span class="ss">ip: </span><span class="s2">"192.168.33.11"</span>
    <span class="n">ccm_cluster</span><span class="p">.</span><span class="nf">vm</span><span class="p">.</span><span class="nf">network</span> <span class="s2">"private_network"</span><span class="p">,</span> <span class="ss">ip: </span><span class="s2">"192.168.33.12"</span>
    <span class="n">ccm_cluster</span><span class="p">.</span><span class="nf">vm</span><span class="p">.</span><span class="nf">network</span> <span class="s2">"private_network"</span><span class="p">,</span> <span class="ss">ip: </span><span class="s2">"192.168.33.13"</span>
    <span class="n">ccm_cluster</span><span class="p">.</span><span class="nf">vm</span><span class="p">.</span><span class="nf">network</span> <span class="s2">"private_network"</span><span class="p">,</span> <span class="ss">ip: </span><span class="s2">"192.168.33.14"</span>
    <span class="n">ccm_cluster</span><span class="p">.</span><span class="nf">vm</span><span class="p">.</span><span class="nf">network</span> <span class="s2">"private_network"</span><span class="p">,</span> <span class="ss">ip: </span><span class="s2">"192.168.33.15"</span>
    <span class="n">ccm_cluster</span><span class="p">.</span><span class="nf">vm</span><span class="p">.</span><span class="nf">network</span> <span class="s2">"private_network"</span><span class="p">,</span> <span class="ss">ip: </span><span class="s2">"192.168.33.16"</span>
  <span class="k">end</span>

  <span class="c1"># Prepare/Provision the VM</span>
  <span class="n">config</span><span class="p">.</span><span class="nf">vm</span><span class="p">.</span><span class="nf">provision</span> <span class="ss">:shell</span> <span class="k">do</span> <span class="o">|</span><span class="n">root_provision</span><span class="o">|</span>
    <span class="n">root_provision</span><span class="p">.</span><span class="nf">privileged</span> <span class="o">=</span> <span class="kp">true</span>
    <span class="n">root_provision</span><span class="p">.</span><span class="nf">inline</span> <span class="o">=</span> <span class="no">CCM_PROVISION_SCRIPT</span>
  <span class="k">end</span>

  <span class="c1"># VM parameters for the CCM cluster</span>
  <span class="n">config</span><span class="p">.</span><span class="nf">vm</span><span class="p">.</span><span class="nf">provider</span> <span class="ss">:virtualbox</span> <span class="k">do</span> <span class="o">|</span><span class="n">provider</span><span class="o">|</span>
    <span class="n">provider</span><span class="p">.</span><span class="nf">name</span> <span class="o">=</span> <span class="s2">"ccm-cluster"</span>
    <span class="n">provider</span><span class="p">.</span><span class="nf">customize</span> <span class="p">[</span><span class="s2">"modifyvm"</span><span class="p">,</span> <span class="ss">:id</span><span class="p">,</span> <span class="s2">"--memory"</span><span class="p">,</span> <span class="s2">"4096"</span><span class="p">]</span>
    <span class="n">provider</span><span class="p">.</span><span class="nf">customize</span> <span class="p">[</span><span class="s2">"modifyvm"</span><span class="p">,</span> <span class="ss">:id</span><span class="p">,</span> <span class="s2">"--vram"</span><span class="p">,</span> <span class="s2">"32"</span><span class="p">]</span>
    <span class="n">provider</span><span class="p">.</span><span class="nf">customize</span> <span class="p">[</span><span class="s2">"modifyvm"</span><span class="p">,</span> <span class="ss">:id</span><span class="p">,</span> <span class="s2">"--cpus"</span><span class="p">,</span> <span class="s2">"4"</span><span class="p">]</span>
    <span class="n">provider</span><span class="p">.</span><span class="nf">customize</span> <span class="p">[</span><span class="s2">"modifyvm"</span><span class="p">,</span> <span class="ss">:id</span><span class="p">,</span> <span class="s2">"--natdnshostresolver1"</span><span class="p">,</span> <span class="s2">"on"</span><span class="p">]</span>
    <span class="n">provider</span><span class="p">.</span><span class="nf">customize</span> <span class="p">[</span><span class="s2">"modifyvm"</span><span class="p">,</span> <span class="ss">:id</span><span class="p">,</span> <span class="s2">"--natdnsproxy1"</span><span class="p">,</span> <span class="s2">"on"</span><span class="p">]</span>
  <span class="k">end</span>
<span class="k">end</span>
</code></pre>
<h3 id="starting-ccm-cluster-vm" class="target">Starting CCM Cluster VM<a class="anchor" href="#starting-ccm-cluster-vm" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>After installing <a href="https://www.vagrantup.com/downloads.html">Vagrant</a> and <a href="https://www.virtualbox.org/wiki/Downloads">Virtual Box</a>, copy the above script into a
directory (e.g. ccm_cluster) and ensure it is named <code>Vagrantfile.</code> To start the
CCM cluster VM run the following command in the directory with the Vagrant
script file:</p>
<pre class="highlight"><code>vagrant up
</code></pre>
<h3 id="stopping-suspending-ccm-cluster-vm" class="target">Stopping/Suspending CCM Cluster VM<a class="anchor" href="#stopping-suspending-ccm-cluster-vm" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>To stop the CCM cluster VM run the following command in the directory with the
Vagrant script file:</p>
<pre class="highlight"><code>vagrant halt
</code></pre>
<p>To speed up launch times of the CCM cluster VM a suspend command can be issued
after the instance is first created by running the following command in the
directory with the Vagrant script file:</p>
<pre class="highlight"><code>vagrant <span class="nb">suspend</span>
</code></pre>
<h3 id="resuming-the-suspended-ccm-cluster-vm" class="target">Resuming the Suspended CCM Cluster VM<a class="anchor" href="#resuming-the-suspended-ccm-cluster-vm" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h3>

<p>If the CCM cluster VM was suspended run the following command in the directory
with the Vagrant script file to resume:</p>
<pre class="highlight"><code>vagrant resume
</code></pre>


        </div>
      </div>
    </div>

    

    <script src="../../../../js/jquery.js"></script>
    <script src="../../../../js/bootstrap.js"></script>
    <script src="../../../../js/angular.js"></script>
    <script src="../../../../js/mousetrap.js"></script>
    <script src="../../../../js/hotkeys.js"></script>
    <script src="../../../../js/ZeroClipboard.js"></script>
    <script src="../../../../js/lunr.js"></script>
    <script src="../../../../js/app.js"></script>
  </body>
</html>
